{% extends 'base.html' %}
{% block title %}DownloadStudentPassword{% endblock %}
<!--{% block nav-home %}<li><a href="/adminDashboard">Home<span class="sr-only">(current)</span></a></li>{% endblock %}-->
<!--{% block nav-addSession %}  <li class="active"><a href="{% url 'clgAdmin:addSession' %}">Add Session</a></li> {% endblock %}-->
{% load static %}
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <div style="background: linear-gradient(rgba(250, 252, 249, 0.8),rgba(65, 148, 176, 0.7));height: 800px;">
      <div class="form-style-5" style="background:  #ffff99">
          <br><br>
        
      <form class="" action="" method="post">
        {% csrf_token %}
        <h4 style="color: #800033;"><b>Download Student Password</b></h4><br>
        <p>Select method : </p>
        <input type="radio" id="SessionClick" name="Clicked" value="Session" onclick="SessionClicked()">
        <label for="SessionClicked">By Session</label><br>
        <input type="radio" id="rollClick" name="Clicked" value="roll" onclick="rollClicked()">
        <label for="roll">By Roll Number </label><br>

        <div id="SessionMethod" style="visibility:hidden;">
        <select class="" id="session" name="session" >
        </select>
        </div>
        <div id="RollMethod" style="visibility:hidden;">
            <input type="number" id="roll" name="roll" placeholder="Enter Roll Number">
        </div>
        <input id="butt" type="submit" name="" value="Confirm" style="visibility:hidden">
          <h4 style="color: red; text-align: center;">{{errortxt}}</h4>
        <form>
    </div>
    </div>

    <script>
      function rollClicked(){
        document.getElementById("RollMethod").style.visibility = "visible";
        document.getElementById("SessionMethod").style.visibility = "hidden";
        document.getElementById("session").required = false;
        document.getElementById("roll").required = true;
        document.getElementById("butt").style.visibility = "visible";

      }

      function SessionClicked() {
        var year = new Date().getFullYear()-2;
        string = ""
        for(var i =0; i<5; i++ ){
              string = string + "<option value=" + year + ">" + year + "</option>";
              year = year+1;
        }
        document.getElementById("session").innerHTML = string;
        document.getElementById("SessionMethod").style.visibility = "visible";
        document.getElementById("RollMethod").style.visibility = "hidden";
        document.getElementById("session").required = true;
        document.getElementById("roll").required = false;
        document.getElementById("butt").style.visibility = "visible";
      }

      </script>

    {% endblock %}
</body>
