{% load static %}

@media only screen and (max-width:1024px){
  body{
    font-size: 20px;
  }
}
@media only screen and (max-width:980px){
  body{
    font-size: 14px;
  }
}
@media only screen and (max-width:720px){
  body{
    font-size: 14px;
  }
}
@media only screen and (max-width:480px){
  body{
    font-size: 14px;
  }
@media only screen and (max-width:320px){
  font-size: 12px;
}
}
body{
    font-family: 'Alegreya', serif;
    font-family: 'PT Sans Narrow', sans-serif;
    min-height: 100vh;
}
/* 1st page */
#topheader .header{
  min-height: 100vh;
  background:linear-gradient(rgba(250, 252, 249, 0.8),rgba(65, 148, 176, 0.7)) ,url(../img/img-1244-copy-1527105676018-1554036868445.jpg)center/cover no-repeat fixed;
}
#topheader nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 5px 0px #dedede;
}
#topheader nav ul {
  list-style: none;
  text-align: center;
}
#topheader nav ul li {
  display: inline-block;
}
#topheader nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  /* font-weight: 800;
  text-transform: uppercase; */
  margin: 0 10px;
}
#topheader nav ul li a,
#topheader nav ul li a:after,
#topheader nav ul li a:before {
  transition: all .3s;
}
/* #topheader nav ul li a:hover {
  color: #555;
} */


/* SHIFT */
#topheader nav.shift ul li a {
  position:relative;
  z-index: 1;
}
#topheader nav.shift ul li a:hover {
  color: #57b846;
  border-bottom: 3px solid rgba(115, 236, 93, 0.8);
}
#topheader nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: rgba(191, 221, 177, 0.3);
  visibility: none;
  opacity: 0;
  z-index: -1;
}
#topheader nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}


/* end of 1st page  */
/* registration form */

#topheader .form{
  min-height: 100vh;
  background:  linear-gradient(rgba(246, 246, 246, 0.3),rgba(161, 212, 226, 0.5)) ;
}
fieldset{
  border: 2px solid black;
}
.jumbotron{
  background: linear-gradient(rgba(248, 248, 248, 0.5),rgba(195, 221, 226, 0.4));
}
.personal-info{
background: linear-gradient(rgba(248, 248, 248, 0.5),rgba(176, 228, 240, 0.4));
}
table, th,td {
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  vertical-align: middle;
}

.board-result{
margin-top: 7%;
background: linear-gradient(rgba(248, 248, 248, 0.5),rgba(176, 228, 240, 0.4));
}

.clg-result{
 background: linear-gradient(rgba(248, 248, 248, 0.5),rgba(176, 228, 240, 0.4));
}
.footer{
  background: linear-gradient(rgba(248, 248, 248, 0.5),rgba(176, 228, 240, 0.4));
  border: 2px solid black;

}


#collegeResult a {
    border-left-style: solid;
    padding-right: 50px;
    border-color: rgb(120, 113, 113);
    color: rgb(120, 109, 66);
    text-decoration: none;
    padding-left: 50px;
}

#collegeResult a:hover {
    color: rgb(230, 17, 17);
}


/* Admin Log IN page css */
/*

@import "compass/css3";

* { box-sizing: border-box; }

#logDiv {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:white;
  font-size:12px;
  background:#333 url({% static 'img/classic_fabric.png' %});
}

#logDiv form {
 	background:#111;
  width:300px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

#logDiv form:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  background:linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
  top:0;
}

#logDiv form:before {
 	content:"";
  display:block;
  position:absolute;
  width:8px;
  height:5px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}

#logDiv .inset {
 	padding:20px;
  border-top:1px solid #19191a;
}

#logDiv form h1 {
  font-size:18px;
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:15px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

#logDiv form h1:after {
 	content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
  transform:rotate(70deg);
  background:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

}

#logDiv label {
 	color:#666;
  display:block;
  padding-bottom:9px;
}

#logDiv input[type=text],
#logDiv input[type=password] {
 	width:100%;
  padding:8px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
}

#logDiv label[for=remember]{
 	color:white;
  display:inline-block;
  padding-bottom:0;
  padding-top:5px;
}

#logDiv input[type=checkbox] {
 	display:inline-block;
  vertical-align:top;
}

#logDiv .p-container {
 	padding:0 20px 20px 20px;
}

#logDiv .p-container:after {
 	clear:both;
  display:table;
  content:"";
}

#logDiv .p-container span {
  display:block;
  float:left;
  color:#0d93ff;
  padding-top:8px;
}

#logDiv input[type=submit] {
 	padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:#0184ff;
  color:white;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

#logDiv input[type=submit]:hover {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -10px 10px rgba(255,255,255,0.1);
}

#logDiv input[type=text]:hover,
#logDiv input[type=password]:hover,
#logDiv label:hover ~ input[type=text],
#logDiv label:hover ~ input[type=password] {
 	background:#27292c;
}

*/

/* end of admin log in page css */


/* admin register page css */



/* .table{
  border: 2px solid black;
}
thead{
  border: 1px solid black;
} */

/*new Admin Log in page */






/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

 * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
/*h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}*/

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

 textarea {
  outline: none;
  border: none;
}

 textarea:focus,#loginAdmin input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
#loginAdmin button {
	outline: none !important;
	border: none;
	background: transparent;
}

#loginAdmin button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(rgba(250, 252, 249, 0.8),rgba(65, 148, 176, 0.7));

}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}